*{
    margin: 0px;
    padding: 0px;
}

video::-webkit-media-controls-enclosure {
    display:none !important;
}
video::-webkit-media-controls {
    display:none !important;
}
::-webkit-media-controls {
    display:none !important;
}

.controls{
    background-color: rgba(0, 0, 0, 0.603);
    position: absolute;
    bottom: 0px;
    transform: translateY(100%);
    z-index: 2147483647 !important;
    padding-bottom: 6px;
    width: 100%;
    height: max-content;
}
.column{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.video-bar{
    background-color: rgb(255, 255, 255);
    height: 7px;
    margin-bottom: 13px;
}
.video-juice{
    background-color: rgb(255, 123, 0);
    width: 0%;
    height: 100%;
}
body{
    background-color: rgb(31, 31, 31);
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.first-part{
    margin: 0px 10px;
    display: flex;
    align-items: center;
}
.video-player{
    position: relative;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
}

.video-player:hover > .controls{
    transform: translateY(0%);
    transition: all 0.6s;
}

.vid:hover{
    transform: translateY(0%);
    transition: all 0.6s;
}

.video-player .vid{
    height: 100%;
    width: 100%;
}
.play-pause{
    border: none;
    background-color: transparent;
}
.play-pause i{
    font-size: 13px;
    color: white;
    padding: 5px;
}
.play-pause:hover{
    color: black;
    transition: all 0.6s;
    cursor: pointer;
}
.vol{
    font-size: 18px;
    color: white;
    margin: 0px;
    margin-left: 20px;
    margin-right: 10px;
}
i{
    cursor: pointer;
    color: white;
}
.fullscreen{
    margin: 0px 20px;
}